In [8]:
%reload_ext autoreload
%autoreload 2

In [24]:
from src.data import load_raw_data

rides = load_raw_data(year=2024)
rides

Downloading file 2024-01
Downloading file 2024-02
Downloading file 2024-03
Downloading file 2024-04
Downloading file 2024-05
Downloading file 2024-06
Downloading file 2024-07
Downloading file 2024-08
Downloading file 2024-09
Downloading file 2024-10
Downloading file 2024-11
2024-11 file is not available
Downloading file 2024-12
2024-12 file is not available

            pickup_datetime  pickup_location_id
0       2024-01-01 00:57:55                 186
1       2024-01-01 00:03:00                 140
2       2024-01-01 00:17:06                 236
3       2024-01-01 00:36:38                  79
4       2024-01-01 00:46:51                 211
...                     ...                 ...
3833766 2024-10-31 23:49:01                 107
3833767 2024-10-31 23:35:15                 137
3833768 2024-10-31 23:30:43                 188
3833769 2024-10-31 23:00:00                 230
3833770 2024-10-31 23:18:00                 246

[33854644 rows x 2 columns]

In [27]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:01<00:00, 252.49it/s]

                pickup_hour  rides  pickup_location_id
0       2024-01-01 00:00:00      0                   1
1       2024-01-01 01:00:00      0                   1
2       2024-01-01 02:00:00      0                   1
3       2024-01-01 03:00:00      0                   1
4       2024-01-01 04:00:00      0                   1
...                     ...    ...                 ...
1939795 2024-10-31 19:00:00      4                 265
1939796 2024-10-31 20:00:00      8                 265
1939797 2024-10-31 21:00:00      2                 265
1939798 2024-10-31 22:00:00      7                 265
1939799 2024-10-31 23:00:00     10                 265

[1939800 rows x 3 columns]

In [28]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:08<00:00, 33.01it/s]

features.shape=(73405, 674)
targets.shape=(73405,)

In [29]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')